* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h1 {
  font-family: "COCOGOOSE", sans-serif;
}

body p {
  font-family: "Lato", sans-serif;
}

.nav-bar {
  background-color: #272a31;
  height: 4vh;
}

.mani-nav {
  height: 9vh;
}

.mani-nav a {
  text-decoration: none;
}

.mani-nav .ccCamp {
  border: 4px solid #ec5242;
}

.mani-nav .hamburgerPlusLogo {
  display: flex;
}

.mani-nav .hamburger {
  display: none;
  cursor: pointer;
}

.mani-nav .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #272a31;
}

.head-line {
  height: 87vh;
  background-image: url(/img/bgimg.jpg);
}

.head-line h1,
.head-line h2 {
  color: #ec5242;
}

.head-line h3,
.head-line h4 {
  color: #272a31;
}

.head-line p {
  color: #272a31;
  border: 3px solid white;
}

.main-blog {
  height: 75vh;
  background-image: url(/img/gray-texture.jpg);
}

.main-blog h2 {
  color: #d3d3d3;
}

.main-blog h5 {
  color: #ec5242;
}

.main-blog p {
  color: #d3d3d3;
}

.main-blog .blog {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-blog .blog:hover {
  border: 1px solid #d3d3d3;
}

.main-blog .border-span0 {
  width: 50px;
  height: 3px;
  background-color: #ec5242;
}

.main-blog .show-all-pro {
  border-bottom: 2px solid #d3d3d3;
}

.main-blog .show-all-blogs-btn {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-container .featured {
  grid-column: 2 span;
}

.grid-container .featured h3 {
  text-align: center;
}

.grid-container .featured .border-span {
  width: 50px;
  height: 3px;
  background-color: #ec5242;
}

.grid-container #card0,
.grid-container #card1,
.grid-container #card2,
.grid-container #card3,
.grid-container #card4,
.grid-container #card5 {
  display: flex;
  gap: 10px;
}

.grid-container .cards .blogerTitle {
  color: #ec5242;
}

.show-More .show-more-btn {
  display: none;
}

.partners-section {
  height: 30vh;
  background-color: #272a31;
  color: #d3d3d3;
}

.partners-section .partners {
  font-weight: 700;
  font-size: 32px;
}

.partners-section .border-span2 {
  width: 50px;
  height: 3px;
  background-color: #ec5242;
}

footer {
  height: 30vh;
}

/* About page styles */
.head-line-about .aboutP {
  background-color: #fff;
}

.branding-section .border-span3 {
  width: 50px;
  height: 3px;
  background-color: #ec5242;
}

.overlay-section .img-overlay1 {
  color: #d3d3d3;
  width: 432px;
  height: 236px;
  background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url("/img/kbsys.jpg");
}

.overlay-section .img-overlay2 {
  color: #d3d3d3;
  width: 432px;
  height: 236px;
  background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)), url("/img/kbsys.jpg");
}

.overlay-section .img-1,
.overlay-section .img-2 {
  width: 432px;
  height: 236px;
}

.about-partner {
  display: none;
}

.about-footer {
  background-color: #272a31;
  color: #d3d3d3;
}

@media screen and (max-width: 768px) {
  .mani-nav {
    background-image: url(/img/bgimg.png);
    overflow: hidden;
  }

  .mani-nav .hamburger {
    display: block;
    position: fixed;
    cursor: pointer;
    z-index: 100;
  }

  .mani-nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .mani-nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .mani-nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .mani-nav .logo {
    display: none;
  }

  .mani-nav .nav-links {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 4vh;
    height: 96vh;
    gap: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
    transition: 0.2s;
  }

  .mani-nav .nav-links .list-group-item {
    margin: 16px 0;
  }

  .mani-nav .nav-links .ccCamp {
    border: none;
  }

  .mani-nav .nav-links.active {
    left: 0;
  }

  .head-line .head-line-con h1,
  .head-line .head-line-con h2,
  .head-line .head-line-con h3,
  .head-line .head-line-con h4,
  .head-line .head-line-con p {
    width: 100% !important;
  }

  .main-blog .pro-container {
    flex-direction: column;
  }

  .main-blog .pro-container .blog {
    flex-direction: row !important;
  }

  .main-blog .pro-container .show-all-blogs-btn {
    display: flex;
    justify-content: center;
  }

  .main-blog .pro-container .show-all-blogs-btn .show-all-blogs-bttton {
    width: 80%;
    height: 8vh;
    background-color: #ec5242;
    color: #fff;
    border: none;
  }

  .grid-container .featured {
    grid-column: 2 spans;
  }

  .grid-container #card0,
  .grid-container #card1,
  .grid-container #card2,
  .grid-container #card3,
  .grid-container #card4,
  .grid-container #card5 {
    grid-column: 2 spans;
  }

  .show-More .show-more-btn {
    display: block;
    width: 100%;
    height: 8vh;
  }

  .partners-section {
    display: none;
  }

  footer {
    display: none;
  }

  /* About page styles */
  .overlay-section .overlay-part {
    flex-direction: column;
    align-items: center;
  }

  .overlay-section .img-1,
  .overlay-section .img-2 {
    width: 432px;
    height: 236px;
  }

  .about-partner {
    display: block;
  }

  .about-footer {
    background-color: #d3d3d3;
    color: #272a31;
  }
}
